@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  cursor: url('cursor.png'), default;
}
html,
body {
 background: black;
 overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;

}
#click{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-37%, 200%);
  z-index: 1;
  font-size: 35px;
  font-family: 'Share Tech Mono', monospace;
  color:rgb(213, 255, 255);
  animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
  0%{     color: rgb(114, 137, 141);    }
  49%{    color: rgb(212, 248, 255); }

  99%{    color:transparent;  }
  100%{   color: rgb(122, 151, 163);    }
}
#section1 {
  position: absolute;
 
  color: white;
  width: 100vw;
  height: 100vh;
}
#section2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 27vw;
  opacity: 0;
}
.left p{
  width: 25vw;
  font-size: 20px;
}
.left h1{
  font-size: 50px;
}
#sect1cont{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
