@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  cursor: url('cursor.png'), default;
}
html,
body {
 background: black;
 overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;

}
#click{
  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translate(-45%, -50%);
  z-index: 1;
  font-size: 35px;
  font-weight: 100;
  font-family: 'Share Tech Mono', monospace;
  color:rgb(213, 255, 255);
  animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
  0%{     color: rgb(114, 137, 141);    }
  49%{    color: rgb(212, 248, 255); }

  99%{    color:transparent;  }
  100%{   color: rgb(122, 151, 163);    }
}
#section1 {
  position: absolute;
 
  color: white;
  width: 100vw;
  height: 100vh;
}
#section2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 27vw;
  opacity: 0;
}
#section3 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 27vw;
  opacity: 0;
}
#section4 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 27vw;
  opacity: 0;
}
.left p{
  width: 25vw;
  font-size: 20px;
}
.left h1{
  font-size: 50px;
}
#sect1cont{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.arrowcont {
  position: absolute;
  display: flex;
  gap: 60vw;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.arrowcont img{
  cursor: pointer;
  width: 50px;
  z-index: 2;
}

#videofullpage{
  position: fixed;
  overflow-y: hidden;
  overscroll-behavior: contain;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 178;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;

}
#videofullpage iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
#videofullpage img{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3vw;
  right: 5vw;
  cursor: pointer;
}
