* {
  margin: 0;
  padding: 0;
  cursor: url('cursor.png'), default;
}
html,
body {
 background: black;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;

}
#click{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-38%, 200%);
  z-index: 1;
  cursor: pointer;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(213, 255, 255);
}
#section1 {
  position: absolute;
 
  color: white;
  width: 100vw;
  height: 100vh;
}
#section2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 27vw;
  opacity: 0;
}
.left p{
  width: 25vw;
  font-size: 20px;
}
.left h1{
  font-size: 50px;
}
#sect1cont{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
